<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <title>Document</title>
    <link href="/url.css" rel="stylesheet"  type="text/css" >
</head>
<body>
  <div class="container">

    <div class="heading">
      <h1 >URL Shrinker</h1>
    </div>
    <div class="search-bar">
        <form action="/" method="GET">
        <div><input type="text" name="q" placeholder="Enter a keyword..." class="form-control"></div>
        <div class="btn1"> <button class="btn-secondary" type="submit" >Search</button></div>
    </form>
      </div>

    <form action="/shortUrls" method="POST" class = "my-4-form-inline">
        <div class="search-bar">
          <label for="fullUrl" class="sr-only">Enter URL</label>
         <div>
          <input required placeholder="url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
         </div>
          <button class="btn-secondary" type="submit">Shrink</button>
          
        </div>
    </form>

    
    
     <div class="table-body">
    <table class="table-table-striped-table-responsive">
        <thead class="t-head">
            <tr class="t-h-row">
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
  <% shortUrls.forEach(function(shortUrl) { %>
    <tr >
      <td class="t-c-row"><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
      <td class="t-c-row"><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
      <td class="t-c-row"><%= shortUrl.clicks %></td>
    </tr>
  <% }) %>
  </tbody>
    </table>
   </div>
  </div>



</body>

</html>